<head>
  <div title>Mvc Angular Project</div>
  <div menu-bar>
    <div menu routerLink="/">Main</div> 
    <div menu routerLink="/user">User</div> 
    <div menu routerLink="/admin">Admin</div>
    <div menu routerLink="/products">Products</div> 
    <div menu routerLink="/contacts">Contacts</div>
    <div space></div>
    <div user>
      <a *ngIf="!hasLogin">Login</a>
      <a *ngIf="hasLogin">{{username}}</a>
      <button *ngIf="hasLogin" (click)="logoff()">Logoff</button>
    </div> 
  </div>
</head>
<main>
  <router-outlet></router-outlet>
</main>
<footer>

</footer>